backend/web/dist/*
!backend/web/dist/dist.go
WorkReport
.idea
WorkReportFrontend
bin
web/Weblib/Weblib-packr.go
.DS_Store
web/dist.txz
upx
upx-3.96-amd64_linux.tar.xz
upx-3.96-amd64_linux/
config.local.yaml