name: WorkReport pipeline

on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.24.5

      - name: Build
        run: |
          bash backend/build.sh
          cd backend
          make build-all
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'  # 仅在打标签时运行
        with: # 将下述可执行文件 release 上去
          files: |
            backend/bin/*